.controls {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	color: #333;
}
.phptext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: normal;
	color: #333;
}
.phptextforms {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: normal;
	color: #333;
}
